

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav" >
        <a class="nav-item nav-link px-3" id="home" href="/" style="font-size: 1.1rem;">Home</a>
        <a class="nav-item nav-link px-3" id="tables" href="/tables" style="font-size: 1.1rem;">Tables</a>
        <a class="nav-item nav-link px-3" id="requests" href="/requests" style="font-size: 1.1rem;">Requests</a>
        <a class="nav-item nav-link px-3" id="login" href="/login" style="font-size: 1.1rem;">Login</a>
        <a class="nav-item nav-link px-3" id="signUp" href="/sign-up" style="font-size: 1.1rem;">Sign Up</a>
      </div>
    </div>
  </nav>