{% extends "base.html" %} 
{% block title %}Requests{% endblock %}



{% block content %}

<h1>Tables</h1>
<table border="1" style="width: 50%; margin: 0 auto; text-align: center; border-collapse: collapse;">
    <thead>
        <th>Sender</th>
        <th>Table name</th>
        <th>Actions</th>
    </thead>

    <tbody>
        {% for request in current_user.received_requests %}
        
        <tr>
            <td>{{ request.sender.username }}</td>
            <td>{{ request.table.table_name }}</td>
            <td>
                <div style="display: flex; align-items: left; gap: 10px;">
                    <form action="/requests-accept" method="POST">
                        <button type="submit" class="btn btn-primary" value="{{ request.table.id }}" id="table_id" name="table_id">Accept</button>
                    </form>
                    <br/>
                    <form action="/requests-decline" method="POST">
                        <button type="submit" class="btn btn-primary" value="{{ request.table.id }}" id="table_id" name="table_id">Decline</button>
                    </form>
                </div>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>

{% endblock %}