{% extends "base.html" %}
{% import "macros.html" as macro %}
{% block title %}{{ table.table_name }}{% endblock %}

{% block content %}

{{ macro.in_table(table) }}

    <!-- Form to create a new tag -->
    <form action="/tables/{{ table.id }}/invite-user" method="POST" autocomplete="off">
        <h3 align="center">Invite User</h3>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Enter username"
          />
        </div>
        <button type="submit" class="btn btn-primary">Invite User</button>
      </form>
      <br/>
    <!-- Table to display tags -->
    <h1>Users</h1>
<table border="1" style="width: 50%; margin: 0 auto; text-align: center; border-collapse: collapse;">
    <thead>
        <th>Name</th>
        <th>Actions</th>
    </thead>

    <tbody>
        {% for user in users %}
        
        <tr>
            <td>{{ user.username }}</td>
            <td>
                <br/>
                <div style="display: flex; align-items: left; gap: 10px;">
                    <form action="/tables/{{ table.id }}/promote-user" method="POST">
                        <button type="submit" class="btn btn-primary" value="{{ user.id }}" id="user_id" name="user_id">Promote</button>
                    </form>
                    <br/>
                    <form action="/tables/{{ table.id }}/kick-user" method="POST">
                        <button type="submit" class="btn btn-primary" value="{{ user.id }}" id="user_id" name="user_id">Kick</button>
                    </form>
                </div>
                <br/>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}

