{% extends "base.html" %}
{% import "macros.html" as macro %}
{% block title %}{{ table.table_name }}{% endblock %}

{% block content %}

{{ macro.in_table(table) }}

    <!-- Form to create a new tag -->
    <form action="/tables/{{ table.id }}/invite-user" method="POST" autocomplete="off">
        <h3 align="center">Invite User</h3>
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
            placeholder="Enter username"
          />
        </div>
        <button type="submit" class="btn btn-primary">Invite User</button>
      </form>
      <br/>
    <!-- Table to display tags -->
    <h1>Users</h1>
<table border="1" style="width: 50%; margin: 0 auto; text-align: center; border-collapse: collapse;">
    <thead>
        <th>Name</th>
        <th>Role</th>
        <th>Actions</th>
    </thead>

    <tbody>
        {% for cur_user in users_in_table %}
        
        <tr>
            <td>{{ cur_user.user.username }}</td>
            <td>{{ cur_user.role.name }}</td>
            {% if user.id != cur_user.user.id %}
            <td>

                <div style="display: flex; align-items: left; gap: 10px;">
                {% if role.name == "ADMIN" or role.name == "CREATOR" %}

                    {% if cur_user.role.name != 'ADMIN' %}
                    <form action="/tables/{{ table.id }}/promote-user" method="POST">
                        <button type="submit" class="btn btn-primary" value="{{ cur_user.user.id }}" id="user_id" name="user_id">Promote</button>
                    </form>
                    {% else %}
                    <form action="/tables/{{ table.id }}/demote-user" method="POST">
                        <button type="submit" class="btn btn-primary" value="{{ cur_user.user.id }}" id="user_id" name="user_id">Demote</button>
                    </form>
                    {% endif %}
                <br/>
                    {% if role.value > cur_user.role.value %}
                    <form action="/tables/{{ table.id }}/kick-user" method="POST">
                        <button type="submit" class="btn btn-primary" value="{{ cur_user.user.id }}" id="user_id" name="user_id">Kick</button>
                    </form>
                    {% endif %}
            </div>
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}

